<div class="container bg-danger">
	<div class="row">
		<div class="col-md-4 col-push-md-4">
		All Rights Reserved <span class="glyphicon glyphicon-copyright-mark"></span> 2016
		</div>
	</div>
</div>
