
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

.buffer-top {
	margin-top: 15px;
}

* {
	font-weight: 200;
}

h1, h2, h3, h4, h5 {
	color: crimson !important;
	font-weight: 200 !important;
}

a:hover {
	text-decoration: none !important;
}