<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<header class="jumbotron">
			<% include ../partials/header %>
		</header>

		<div class="container">
			<div class="col-md-6 col-md-push-3">
				<form method="post" action="/submitWorkout">
					<input type="hidden" name="username" value="<%= user.username %>">
					<input type="hidden" name="password" value="dummy_password">
					<fieldset class="form-group">
						<label for="workoutDate">Date</label>
						<input id="workoutDate" type="date" name="date" class="form-control">
					</fieldset>
					<fieldset class="form-group">
						<label for="workoutDifficulty" name="difficulty">Difficulty</label>
						<input id="workoutDifficulty" step="0.01" type="number" placeholder="Difficulty Level (1-10)" name="difficulty" class="form-control">
					</fieldset>
					<fieldset class="form-group">
						<div class="form-inline">
						<label for="workoutHour">Hours</label>
						<input id="workoutHour" type="number" placeholder="Hours" name="hours" class="form-control" min="0" max="23">
						<label for="workoutMinute">Minutes</label>
						<input id="workoutMinute" step="1" type="number" placeholder="Minute" name="minutes" class="form-control" min="0" max=59>
						<label for="workoutSecond">Seconds</label>
						<input id="workoutSecond" step="1" type="number" name="seconds" placeHolder="Seconds" class="form-control" min="0" max="59">
						</div>
					</fieldset>
					<fieldset class="form-group">
						<label for="workoutDistance">Distance</label>
						<input id="workoutDistance" step="0.01" type="number" placeholder="Distance travelled" name="distance" class="form-control">
					</fieldset>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>

		</div>

		<footer>
			<% include ../partials/footer %>
		</footer>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>

</html>
