<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<header class="jumbotron">
			<% include ../partials/header %>
		</header>

		<main>
			<% if (loggedIn){ %>
				<a class="btn btn-primary">Add an entry</a>
			<% } %>
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>

</html>
