<!DOCTYPE html>

<html>

	<head>
		<% include ../partials/head %>
	</head>

	<body>
		<header class="jumbotron">
			<% include ../partials/header %>
		</header>

		<main>

			<div class="container">
				<div id="data-holder" class="well hidden">
					<%- JSON.stringify(workouts) %>
				</div>
				<div id="chart1"></div>
				

			</div>
			<hr>
			
		</main>

		<footer>
			<% include ../partials/footer %>
		</footer>

		<% include ../partials/d3 %>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="/js/viz.js"></script>
	</body>

</html>